:root {
    --orange: rgb(231, 170, 0); 
    --white:  rgb(206, 208, 212);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: url(assets/background.gif);
    background-size: cover;
}
.icons {
    font-size: 30px;
    color: var(--orange);
}

.title {
    margin: 20px 0;
    font-size: 50px;
    color: var(--orange);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-gap: 15px;
    padding: 15px;
    max-width: 1200px;
    width: 100%;
    grid-template-rows: auto;
}

.info-box {
    background-color: #24263671; 
    padding: 10px; 
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 120px;
    backdrop-filter: blur(8px);
    border: 10px solid var(--white);
    border-bottom: 30px solid var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-grow: 1; /* Make the boxes grow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
}
.info-box h2{
    font-size: 20px;
    color: var(--orange);
}
.info-box p {
    color: var(--orange);
    font-size: 15px;
    margin: 10px 0;
}
li {
    display: flex;
    justify-content: center;
    color: var(--orange);
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    max-width: 1200px;
    width: 100%;
}
.medium-box {
    width: 500px;
}
.info-box:hover {
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg); /* 3D tilt effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;   
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    border: 10px solid rgba(2, 22, 43, 0.7); 
    background-color: rgba(50, 93, 161, 0.39); 
}

/* Large box will span 3 columns */
.large-box {
    grid-column: span 3;
    text-align: left;
    padding: 15px; 
    font-size: 1rem; 
    line-height: 1.4; 
    grid-row: span 2; 
}

/* Tablet view: All 3 boxes fit in one row */
@media (max-width: 900px) and (min-width: 601px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* Three equal columns for tablet size */
        grid-gap: 10px; /* Adjust gap to optimize spacing */
    }

    .large-box {
        grid-column: span 3; /* Large box spans full width on tablet */
    }
}

/* Mobile view: Single column layout */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* Single column layout on mobile */
    }

    .large-box {
        grid-column: span 1;
    }
}
